*.pyc
*.idea
.Python
.auth_ref_from.json
.auth_ref_to.json
/copystack_venv
/downloads
from_auth
to_auth

*.cert
from_auth
to_auth
from_auth
from_auth
id_file
id_volume_file
to_auth
from_auth
from_auth
