ipaddr==2.1.11
ipaddress==1.0.18
keystoneauth1==3.2.0
lxml==4.6.3
netaddr==0.7.19
netifaces==0.10.5
openstacksdk==0.7.4
os-client-config==1.14.0
oslo.config==3.6.0
oslo.i18n==3.14.0
oslo.serialization==2.17.0
oslo.utils==3.23.0
python-cinderclient==2.2.0
python-glanceclient==1.2.0
python-heatclient==0.9.0
python-keystoneclient==2.1.2
python-neutronclient==4.0.0
python-novaclient==6.0.0
python-openstackclient==2.1.0
python-swiftclient==2.7.0
requests==2.20.0
solidfire-sdk-python<=1.5.0.87
